<!DOCTYPE html>
<html>
  <head>
    <title>AR Kanban</title>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link rel='stylesheet/less' type="text/css" href='/static/layout.less' />
    <script src="/static/less-1.3.3.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script src="/static/kanban.js?dd"></script>
</head>
<body>
  <div id="wrap">
      <h1 id="iteration-goal"></h1>
      <section id="tasks">
      </section>
  </div>
</body>
</html>